.container {
    display: flex;
    flex-wrap: wrap;
  }

.rectangle {
    flex-basis: calc(25% - 30px);
    margin: 15px;
    border: none;
    border-radius: 22px;
    background-color: rgb(255, 255, 255);
    box-shadow: -1px -1px 7px 9px rgba(0, 0, 0, 0.29);
    display: inline-block;
  }

.rectangle:hover {
    background-color: rgb(180, 180, 180);
  }

.account_name {
    height: 150px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 40px;
  }

.acount_description {
    font-size: 22px;
    margin-left: 10px;
}

.account_price {
    text-align: center;
    vertical-align: middle;
  }

.account_old_price {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    font-size: 33px;
  }

.account_new_price {
    font-weight: bold;
    font-size: 55px;
  }

.list_with_can, .list_with_can_not {
    list-style-type: none;
    font-size: 16px;
    margin-left: 10px;
  }

.list_with_can li {
    background-image: url('../images/green_tick_s.png');
    background-size: 25px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-bottom: 5px;
  }

.list_with_can_not li {
    background-image: url('../images/no_symbol_s.png');
    background-size: 25px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-bottom: 5px;
  }

.account_choice_button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 15px;
}

.account_choice_button {
	box-shadow: 3px 4px 4px 2px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:11px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#009c05;
	font-family:Arial;
	font-size:17px;
	padding:8px 50px;
	text-decoration:none;
	text-shadow:0px 0px 0px #e1e2ed;
}
.account_choice_button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.account_choice_button:active {
	position:relative;
	top:1px;
}

