.confirm_info_account, .confirm_info_step {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.confirm_info_account {
    font-size: 22px;
}

.confirm_info_step {
    font-size: 18px;
}

.company_section_title {
    display: flex;
    justify-content: center;
    font-size: 22px
}

.link_to_home_page {
    display: flex;
    justify-content: center;
    font-size: 22px
}
