.cargo_type_button_container {
    margin-top: -15px;
}

.add_new_cargo_type_button {
    white-space: nowrap;
    margin-bottom: 10px;
    /* opacity: 0.5;
    pointer-events: none; */
}

.first_action_info {
    font-size: 0.7em;
}

[class^="cargo_price_info_"] {
    font-size: 0.7em;
    line-height: 4.5;
}

[class^="cargo_component_"]:not( .cargo_component_1 ) {
    display: none;
}

[class^="cargo_type_delete_btn_"] {
    background-color: red !important;
}

.price_container {
    display: flex !important;
    border: none;
    align-items: center !important;
    justify-content: center !important;
}
